// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//background-color: rgb(230, 244, 255);
//border-right: 2px solid rgb(22, 119, 255);
//color: rgb(22, 119, 255);

// sidebar
$menuText:#333;
$menuActiveText: rgb(22, 119, 255);
$subMenuActiveText: rgb(22, 119, 255); // https://github.com/ElemeFE/element/issues/12951

$menuBg:#fff;
$menuHover: rgb(230, 244, 255);

$subMenuBg:#fff;
$subMenuHover:rgb(230, 244, 255);

$sideBarWidth: 260px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
